@use "../../styles/variables" as *;

.active {
  background-color: $background-color_active;
}

.passive{
  background: $background-color_passive;
}

.categories_btn{
  border: 0.5px solid $primary-background-color;
  border-radius: 8px;
  width: 160px;
  height: 24px;
  margin: 5px 0;
}

.btn_h2 {
  color: $secondary-title-color;
  line-height: 1em;
  margin: 10px;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
