@use "../../styles/variables" as *;

.task_input {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.task_text {
  min-width: 250px;
  height: 24px;
  @media (max-width: 1024px) {
    min-width: 200px;
  }
}

.checkbox {
  color: $primary-border-color;
}

.select_form {
  height: 24px;
  font-size: 1em;
  color: $primary-lable-color;
}
