$secondary-font-color: #fff;
$primary-background-color: #0067a5;
$primary-border-color: #004875;
$background-color_hover: #0087db;
$background-color_active: #528fd9;
$background-color_passive: #d3deed;
$secondary-title-color: #213547;
$background-cat-home: #81cfc8;
$background-cat-work: #f7f7e6;
$background-cat-personal: #b1cee3;
$background-cat-other: #fff;
$border-priority: #fc4e3a;
$primary-lable-color: #555;
