.taskItem {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2.5fr 1fr;
  min-width: 500px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  border: 1px solid #004875;
  border-radius: 8px;
  margin: 5px 0;
}

.categoryHome {
  background-color: aquamarine;
  border-radius: 8px;
}

.categoryWork {
  background-color: darkgray;
  border-radius: 8px;
}

.categoryPersonal {
  background-color: cadetblue;
  border-radius: 8px;
}

.categoryOthers {
  background-color: white;
  border-radius: 8px;
}

.taskItem__category {
  margin-left: 20px;
}

.taskItem__checkbox {
  transform: scale(1.5);
}

.taskItem__task {
  font-size: 20px;
}

.taskItem__button {
  cursor: pointer;
  border: 1px solid #004875;
}

.highPriority {
  border: 2px solid red;
}

.completed{
  opacity: 50%;
}

.taskItem__task_completed {
  text-decoration: line-through;
}