@use "../../styles/variables" as *;

.header {
  padding: 10px;
  background: $secondary-font-color;
}

.header_innerBlock {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: $primary-background-color;
  color: $secondary-font-color;
  border-radius: 15px;
}

.header__textblock {
  display: block;
  justify-content: center;
  align-content: center;
  margin: 10px 0;
}
.h1_main{
  font-size: 2em;
  margin: 20px;
  @media (max-width: 1024px) {
    font-size: 1.5em;
    margin: 10px;
  }
}

.headertext {
  font-size: 1em;
  color: $secondary-font-color;
}

.logo {
  height: 6em;
  width: auto;
  padding: 1em;
  @media (max-width: 1024px) {
    height: 4em;
  }
}

.header__userblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  @media (max-width: 1024px) {
    margin-bottom: 10px;
  }
}

.exit_button {
  background-color: $primary-background-color;
  border-radius: 24px;
  width: 220px;
  height: 38px;
  color: $secondary-font-color;
  cursor: pointer;
  border: 1px solid $primary-border-color;
  @media (max-width: 1440px) {
    width: 180px;
    height: 32px;
  }
  @media (max-width: 1024px) {
    width: 140px;
    height: 28px;
  }
}

.exit_button:hover {
  background-color: $background-color_hover;
}

.header_userDef{
  font-size: 20px;
  font-weight: bold;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    font-size: 14px;
  }
}