.tasks_list {
  border: 1px solid #004875;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.panel__h2 {
  color: #213547;
  line-height: 1em;
}
.active {
  background-color: #004875;
}

.ul{
  list-style-type: none;
}